# Cloudflare Tunnel Secret Token
CLOUDFLARE_TUNNEL_TOKEN=eyJh...YOUR_CLOUDFLARE_TUNNEL_TOKEN...

# Host Port (e.g. 3005, 3080, 8080) to avoid conflicts with port 3000
HOST_PORT=3005

NODE_ENV=production
